<div class="center">
    <div class="top"><h1>KILL A POKEMON <img src="https://purplepinupgurupanacheplaza.files.wordpress.com/2016/02/death_pikachu.jpg" alt=""></h1>
    <form (ngSubmit)="__player.onSubmit()" >        
        <div class="bold">{{ this.__player.newPlayer.player }} + {{ this.__count.count }} + {{ this.__player.bestTime[0] }} ms</div>
        <button class="btn btn-warning" (click)="__player.addPoint()" (click)="clear()">Save score</button>    
    </form>
    </div>
    <div class="flex">
        <div><button class="bold btn btn-primary" (click)='__timer.playGame($event)'  (click)="__game.startGame()"  >Easy game</button></div> <!-- Här startar vi nedräkningen samt spelet -->
        <div><button class="bold btn btn-primary" (click)='__timer.playGame($event)'  (click)="__game.game()" >Relaxed game</button></div> <!-- Här startar vi nedräkningen samt spelet -->
        <div><button class="bold btn btn-primary" (click)='__timer.playGame($event)'  (click)="__game.startGame2()" >Stressful game</button></div> <!-- Här startar vi nedräkningen samt spelet -->        
        <div class="bold">{{__timer.remainingTime}} TIME</div> <!--Tid kvar-->
        <div class="bold">Points {{__count.count}}</div> <!--Poängräknare-->
    </div> 
    <div class="flex">
        <div>Spel med 1 random mole som visas mellan 3-4 sekunder</div>
        <div>Spel med 1-3 random moles som visas med 4 sekunders mellanrum</div>
        <div>Spel med 1-3 random moles som visa med random tid 1 - 4 sekunder </div>
        <div>Tid kvar</div>
        <div>Poäng</div>
    </div>
    <div class="flex2">
        <div class="grid">
            <div *ngFor="let pipe of __game.holes; let i = index" #newHole [ngClass]="'hole hole' + i" > <!--Loopar över holes för att skapa ett rutnät dynamiskt-->
                <ng-container *ngIf="__game.holes[i].moleOrHole == true else mole"> <!--Visas om vi har true-->
                    <img src={{__game.holes[i].hole}} alt="">
                </ng-container>
                <ng-template  #mole > <!--Visas om vi har false-->
                    <img (click)="__player.reaction()" (click)="__game.holes[i].moleOrHole = true " src={{__game.holes[i].mole}} alt="">    <!--clickhandler för poängen--> 
                </ng-template>
            </div>
        </div>     
        <div  class="block">
            <h2>Highscore</h2>
            <div *ngFor="let topScore of topScores | async | reverse">Name: {{ topScore.data.player }}  points: {{ topScore.data.points }}</div>
                                        <!--Prenumerrar på observable och en reverse pipe för att vända listan-->
            <h2>reactiontime</h2>
             <div *ngFor="let react of reaction | async | reverse">Name: {{ react.data.player }}  time: {{ react.data.reactiontime }} ms</div>
                                                                    <!--Prenumerrar på observable och en reverse pipe för att vända listan-->
        </div>
    </div>
</div>                               